<!doctype html>
<html>

<!-- ################## HEADER  ################## -->
<head>
  <title> Fantasy Football Scoreboard </title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='FFL-square.png') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">

  <!-- REQUIRED FOR RESPONSIVE TOP NAV -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- ################## JS FUNCTIONS FOR NAV BAR ################## -->
  <script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  </script>
</head>

<body>

  <div id="container_div">
  <!-- ################## TOP NAV BAR  ################## -->
  <div class="topnav" id="myTopnav">
    <a class="{% block nav_item_scoreboard %}{% endblock nav_item_scoreboard %}" href="/">Scoreboard</a>
    <a class="{% block nav_item_pastplayers %}{% endblock nav_item_pastplayers %}" href="/MultiplierResults">Past Multipliers</a>
    <a class="{% block nav_item_setplayer %}{% endblock nav_item_setplayer %}" href="/input_form">Set Multiplayer</a>
    <a class="{% block nav_item_rules %}{% endblock nav_item_rules %}" href="https://docs.google.com/document/d/1j1L0CLqh3-m9AcnyiDmasLLbqKN89qSoWqiWPLfRlOg/edit" target="_blank">League Rules</a>
    <a class="{% block nav_item_espn %}{% endblock nav_item_espn %}" href="https://fantasy.espn.com/football/league/scoreboard?leagueId=758108" target="_blank">ESPN Scoreboard</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <!-- ################## JINJA Body Content ################## -->
  <div id="body_div">
  {% block content %}
  {% endblock %}
  </div>

  <!-- ################## FOOTER ################## -->
  <!-- Reference on HTML footer formatting: https://matthewjamestaylor.com/bottom-footer-->
  <div id="footer_div">
    <div style=" width: 80%; margin: 0 auto; text-align: center;"> <!-- background-color:red; -->
      <hr>
      <p style="font-size: 0.7em; padding-top:0.3125em">
        Version 0.1
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="text-decoration:none;" href="https://github.com/adam-lim1/FF_scoreboard/tree/master">View on Github</a>
      </p>
    </div>
  </div>

  </div>
</body>
</html>
