<!doctype html>
<title> Fantasy Football Scorebaord </title>
<h1>Hello, World!</h1>
Last Updated: {{ time }}

<h2> RESOURCES </h2>
<a href="https://www.adamlim.me" target="_blank">FORM - Set Multiplayer</a <br></br>
<a href="/">View Scoreboard</a><br></br>

<br></br>

<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
  }
</style>


<b> MULTIPLIERS </b>
<table>
  <tr>
    <th>Team</th>
    <th>Week 1</th>
    <th>Week 2</th>
    <th>Week 3</th>
    <th>Week 4</th>
    <th>Week 5</th>
    <th>Week 6</th>
    <th>Week 7</th>
    <th>Week 8</th>
    <th>Week 9</th>
    <th>Week 10</th>
    <th>Week 11</th>
    <th>Week 12</th>
    <th>Week 13</th>
    <th>Week 14</th>
    <th>Week 15</th>
    <th>Week 16</th>
    <th>Week 17</th>

  </tr>
  <tr>
    <td>[ TEAM 1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
  </tr>
  <tr>
    <td>[ TEAM 2 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
  </tr>
  <tr>
    <td>[ TEAM 3 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
  </tr>
  <tr>
    <td>[ TEAM 4 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
  </tr>
  <tr>
    <td>[ TEAM 5 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
  </tr>
  <tr>
    <td>[ TEAM 6 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
  </tr>
  <tr>
    <td>[ TEAM 7 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
  </tr>
  <tr>
    <td>[ TEAM 8 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
  </tr>
  <tr>
    <td>[ TEAM 19 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
  </tr>
  <tr>
    <td>[ TEAM 10 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
  </tr>
  <tr>
    <td>[ TEAM 11 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
  </tr>
  <tr>
    <td>[ TEAM 12 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
    <td>[ 0.1 ]</td>
  </tr>
</table>
<br></br>
