<!doctype html>

{% extends "base.html" %}
{% block nav_item_pastplayers %}active{% endblock nav_item_pastplayers %}
{% block content %}

<title> Fantasy Football Scoreboard </title>
<h1>Hello, World!</h1>
Last Updated: {{ time }}
<br></br>
<br></br>

<div id="Container"
 style="padding-bottom:56.25%; position:relative; display:block; width: 100%">
 <iframe id="ViostreamIframe"
  width="100%" height="60%"
  src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSKeeF0o9-dahv2kXy-i6TQCe9SpNxYeQYCWttqrEsyDrBgDVJkLoQdukg0Afe-Sge3c0cH0RHSjj3S/pubhtml?gid=814040496&amp;single=true&amp;widget=true&amp;headers=false"

  frameborder="0" allowfullscreen=""
  style="position:absolute; top:0; left: 0"></iframe>
</div>

{% endblock %}
