<!doctype html>

{% extends "base.html" %}
{% block nav_item_scoreboard %}active{% endblock nav_item_scoreboard %}
{% block content %}

<!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}"> -->

<br></br>

<!-- ################## SELECT WEEK BUTTON ################## -->

<!-- Body of Scoreboards -->

<div style="padding-left: 10px; padding-right: 10px; text-align: center;">
  <h2 class="header-inline"> SCOREBOARD - {{ input1 }}</h2>
  <br></br>

  <table style="display: inline-table;">
    {% for n in scoreboardDict.keys() %}
      <tr class="noBorder">
        <td colspan="5"><b>Matchup {{ n }}</b></td>
      </tr>
      <tr>
        <th bgcolor="#E81A26" style="color: white; font-size: 0.875em;"> Team </th>
        <th bgcolor="#E81A26" style="color: white; font-size: 0.875em;"> Multiplayer </th>
        <th bgcolor="#E81A26" style="color: white; font-size: 0.875em;"> Multiplier </th>
        <!-- <th bgcolor="#E81A26"><font color="white"> Score Adjustment </font></th> -->
        <!-- <th bgcolor="#E81A26"><font color="white"> Overall Score (Adjusted) </font></th> -->
        <th bgcolor="#E81A26" style="color: white; font-size: 0.875em;"> Adjusted Score </th>
      </tr>
      <tr>
        <td bgcolor="white" style="font-size: 0.875em;">{{ scoreboardDict[n]['Home']['Team'] }}</td>
        <td bgcolor="white" style="font-size: 0.875em;">{{ scoreboardDict[n]['Home']['Multiplayer'] }}</td>
        <td bgcolor="white" style="font-size: 0.875em;">{{ scoreboardDict[n]['Home']['Multiplier'] }}</td>
        <td bgcolor="white" style="font-size: 0.875em;">{{ scoreboardDict[n]['Home']['Adjusted Score'] }} ({{ scoreboardDict[n]['Home']['Score Adjustment'] }})</td>
      </tr>
      <tr>
        <td bgcolor="white" style="font-size: 0.875em;">{{ scoreboardDict[n]['Away']['Team'] }}</td>
        <td bgcolor="white" style="font-size: 0.875em;">{{ scoreboardDict[n]['Away']['Multiplayer'] }}</td>
        <td bgcolor="white" style="font-size: 0.875em;">{{ scoreboardDict[n]['Away']['Multiplier'] }}</td>
        <td bgcolor="white" style="font-size: 0.875em;">{{ scoreboardDict[n]['Away']['Adjusted Score'] }} ({{ scoreboardDict[n]['Away']['Score Adjustment'] }})</td>
      </tr>
      <tr class="noBorder">
        <td colspan="5"> </td>
      </tr>
    {% endfor %}
  </table>

  <br></br>

</div>
{% endblock %}
